<ion-content>
    <ion-card class="ion-no-margin" style="background-color: #fff; box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15)">
        <ion-card-content class="ion-no-padding">
            <ion-img [src]="qrCodeData.img" style="width: 120px; margin: auto;"></ion-img>
            <div style="border-top: 1px solid rgba(114, 124, 142, .15)"></div>
            <div style="font-size: 14px; text-align: center; padding: 8px;" class="ion-text-center">{{ qrCodeData.user_code }}</div>
        </ion-card-content>
    </ion-card>
</ion-content>