<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card class="ion-no-margin" style="background-color: #fff; box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15)">
        <ion-card-content class="ion-no-padding">
            <ion-img [src]="userMeData.img" style="width: 120px; margin: auto;"></ion-img>
            <div style="border-top: 1px solid rgba(114, 124, 142, .15)"></div>
            <div style="font-size: 14px; text-align: center; padding: 8px;" class="ion-text-center">{{ userMeData.user_code }}</div>
        </ion-card-content>
    </ion-card>

    <ion-card style="background-color: #fff; box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15); margin: 16px; border-radius: 10px;" *ngFor="let item of allCardData">
        <ion-card-content>
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col size="3" class="ion-no-padding">
                        <ion-img [src]="item.logo" style="height: 64px; width: 64px; display: inline-block;"></ion-img>
                    </ion-col>
                    <!-- <div style="border-top: 1px solid rgba(114, 124, 142, .15)"></div> -->
                    <ion-col class="ion-no-padding">
                        <div style="padding-left: 16px; display: inline-block; vertical-align: top;">
                            <p style="font-weight: bold; font-size: 16px;">{{ item.merchant_name }}</p>
                            <p style="font-size: 14px;">{{ item.description }} </p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div style="padding-top: 16px; font-size: 14px;" *ngIf="item.point_type != 'points'">{{ item.pointsRequired }} {{ item.point_type }} {{ item.loyalty_text }}</div>
            <div style="padding-top: 16px; font-size: 14px;" *ngIf="item.point_type === 'points'">Your Points</div>


            <div *ngIf="item.point_type != 'points' && item.userPointsData">
                <div style="padding: 16px 16px 16px 0; display: inline-block;" *ngFor="let numbers of item.currentPointsArray">
                    <ion-img [src]="item.icon" style="height: 32px; width: 32px; border: 1px solid black; padding: 5px; border-radius: 50%;"></ion-img>
                </div>
                <div style="padding: 16px 16px 16px 0; display: inline-block;" *ngFor="let numbers of item.emptyFill">
                    <div style="height: 32px; width: 32px; border: 1px solid black; padding: 5px; border-radius: 50%;"></div>
                </div>
            </div>

            <div *ngIf="item.point_type != 'points' && !item.userPointsData">
                <div style="padding: 16px 16px 16px 0; display: inline-block;" *ngFor="let numbers of item.emptyFill">
                    <div style="height: 32px; width: 32px; border: 1px solid black; padding: 5px; border-radius: 50%;"></div>
                </div>
            </div>

            <div style="display: inline-block" *ngIf="item.point_type != 'points'">
                <p style="color: #FF7141; display: inline-block; font-weight: bold; font-size: 14px; padding-right:4px;">{{ item.pointToShow }} </p>
                <p style="display: inline-block; font-weight: bold; font-size: 14px; color: #333333;"> / {{ item.min_points_to_redeem }} {{ item.point_type }}</p>
            </div>

            <div style="display: inline-block" *ngIf="item.point_type === 'points'">
                <p style="color: #515C6F; display: inline-block; font-weight: bold; font-size: 24px; padding-right:4px;">{{ item.pointToShow }} </p>
            </div>

            <div style="float: right; padding: 10px 0;" *ngIf="item.point_type === 'points' && item.rewardEligible>0">
                <p style="color: #FF7141; display: inline-block; font-weight: bold; font-size: 14px; padding-right:4px;" (click)="goToRewardDetails(item)">{{ item.rewardEligible }} Reward Available
                    <ion-icon name="arrow-round-forward" style="font-size: 18px; vertical-align: middle;"></ion-icon>
                </p>
            </div>

            <div style="float: right;" *ngIf="item.point_type != 'points' && item.rewardEligible>0">
                <p style="color: #FF7141; display: inline-block; font-weight: bold; font-size: 14px; padding-right:4px;" (click)="goToRewardDetails(item)">{{ item.rewardEligible }} Reward Available
                    <ion-icon name="arrow-round-forward" style="font-size: 18px; vertical-align: middle;"></ion-icon>
                </p>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>