.font-16 {
    font-size: 16px;
}

.img-div {
    margin: auto;
    padding: 20px;
    width: fit-content;
    border-radius: 50%;
}

.img-div>img {
    height: 56px;
    width: 56px;
    vertical-align: middle;
}

.tab-font-color{
    color: #000;
}

.active > .tab-font-color {
    color: #FF6969 !important;
}